<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yang.crud.dao.EmployeeMapper">
	<!-- 	//查询所有的员工和所在的部门 public Employee employeeall(); -->
	<resultMap type="cn.com.yang.crud.bean.Employee" id="EmployeeallResultMap">
		<id column="emp_id" property="empId"/>
		<result column="emp_lastname" property="empLastname"/>
		<result column="gender" property="gender"/>
		<result column="email" property="email"/>
		<association property="department" javaType="cn.com.yang.crud.bean.Department">
			<id column="dep_id" property="depId"/>
			<result column="dep_name" property="depName"/>
		</association>
	</resultMap>
	<sql id="employeeallsql">emp.emp_id,emp.emp_lastname,emp.gender,emp.email,dep.dep_id,dep.dep_name</sql>
	<select id="employeeall" resultMap="EmployeeallResultMap">
		select 
		<include refid="employeeallsql"></include>
		 from employee emp INNER JOIN department dep
		 on emp.depid =dep.dep_id
	</select>
	
	<!-- 批量插入数据 -->
	<insert id="BatchAddEmployee" parameterType="cn.com.yang.crud.bean.Employee">
		insert INTO employee(emp_id,emp_lastname,gender,email,depid)VALUES(#{empId},#{empLastname},#{gender},#{email},#{depid})
	</insert>
	
	<!-- public void updateEmpById(Employee employee) -->
	<update id="updateEmpById">
		UPDATE employee set 
		<if test="empLastname !=null">
			emp_lastname=#{empLastname},
		</if>
		<if test="gender !=null and gender!=''">
			gender=#{gender},
		</if>
		<if test="email !=null and email !=''">
			email=#{email},
		</if>
		<if test="3 > depid >0">
			depid=#{depid}
		</if>
			where emp_id=#{empId}
	</update>
	
	<!-- public void deleteEmpById(Integer empid); -->
	<delete id="deleteEmpById">
		DELETE from employee where emp_id =#{empId}
	</delete>
	
	<!--后台添加员工 -->
	<insert id="addEmployee">
		insert INTO employee
		<trim prefix="(" suffix=")">
			emp_lastname,gender,email,depid
		</trim>
		values(#{empLastname},#{gender},#{email},#{depid})
	</insert>
	<!-- 判断用户名是否重复出现 -->
	<select id="userNameCheck" resultType="Int">
		select count(*) from employee where emp_lastname=#{empLastname}
	</select>
	<!-- 测试根据员工的id查找员工的信息 -->
	<select id="getEmpInfoById" resultType="cn.com.yang.crud.bean.Employee">
		select emp_id,emp_lastname,gender,email,depid from employee where emp_id=#{emp_id}
	</select>
</mapper>